@charset "UTF-8";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
@import "./index/chart-wrapper.css";
@import "./index/table-wrapper.css";
@import "./index/ticker-container.css";

body {
    width: 100vw;
    height: 100vh;
    background-color: #212121;
    color: #ffffff;
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    font-size: 0.9rem;
    font-weight: 300;
    margin: 0;
    overflow: hidden;
    padding: 1rem;

    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 1fr;
}

body > .box {
    background-color: #424242;
    border-radius: 0.25rem;
}

ol, ul {
    list-style-type: none;
    margin-block: 0;
    margin-inline: 0;
    padding-inline: 0;
}




